/* Global Styles */
.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-img {
  object-fit: cover; /* Ensures the image maintains aspect ratio while covering */
}
.faq-answer {
  margin-left: 50px;
}
@media (max-width: 768) {
  .faq-answer {
    text-align: start;
    margin-left: none;
  }
}